<a href="https://colab.research.google.com/github/angelica-David/bigData/blob/main/Obesity_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas numpy openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
tabela = pd.read_csv("/content/drive/MyDrive/Obesity.csv")
display(tabela)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

None

In [ ]:
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   SMOKE           2111 non-null   object
 6   CALC            2111 non-null   object
 7   MTRANS          2111 non-null   object
 8   Obesity         2111 non-null   object
dtypes: float64(3), object(6)
memory usage: 148.6+ KB

None

In [ ]:
tabela = tabela.drop("CALC", axis=1)
display(tabela)

,Gender,Age,Height,Weight,family_history,SMOKE,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,yes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,no,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,no,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,no,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,no,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,no,Public_Transportation,Obesity_Type_III

In [ ]:
display(tabela["Obesity"].value_counts(normalize=True).map("{:.1%}".format))
display(tabela["Obesity"].value_counts())

Obesity
Obesity_Type_I         16.6%
Obesity_Type_III       15.3%
Obesity_Type_II        14.1%
Overweight_Level_I     13.7%
Overweight_Level_II    13.7%
Normal_Weight          13.6%
Insufficient_Weight    12.9%
Name: proportion, dtype: object

Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

In [ ]:
display(tabela["SMOKE"].value_counts())
display(tabela["SMOKE"].value_counts(normalize=True).map("{:.1%}".format))

SMOKE
no     2067
yes      44
Name: count, dtype: int64

SMOKE
no     97.9%
yes     2.1%
Name: proportion, dtype: object

In [ ]:
display(tabela["Obesity"].value_counts(normalize=True))

display(tabela["Obesity"].value_counts())

Obesity
Obesity_Type_I         0.166272
Obesity_Type_III       0.153482
Obesity_Type_II        0.140692
Overweight_Level_I     0.137376
Overweight_Level_II    0.137376
Normal_Weight          0.135955
Insufficient_Weight    0.128849
Name: proportion, dtype: float64

Obesity
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64

In [ ]:
display(tabela["Gender"].value_counts(normalize=True))

display(tabela["Gender"].value_counts())

Gender
Male      0.505921
Female    0.494079
Name: proportion, dtype: float64

Gender
Male      1068
Female    1043
Name: count, dtype: int64

In [ ]:
display(tabela["Gender"].value_counts())
display(tabela["Gender"].value_counts(normalize=True).map("{:.1%}".format))

Gender
Male      1068
Female    1043
Name: count, dtype: int64

Gender
Male      50.6%
Female    49.4%
Name: proportion, dtype: object

In [ ]:
display(tabela["family_history"].value_counts())
display(tabela["family_history"].value_counts(normalize=True).map("{:.1%}".format))

family_history
yes    1726
no      385
Name: count, dtype: int64

family_history
yes    81.8%
no     18.2%
Name: proportion, dtype: object

In [ ]:
display(tabela["Age"].value_counts(normalize=True).map("{:.1%}".format))
display(tabela["Age"].value_counts())

Age
18.000000    6.1%
26.000000    4.8%
21.000000    4.5%
23.000000    4.2%
19.000000    2.8%
             ...
50.832559    0.0%
19.671876    0.0%
18.951144    0.0%
18.863875    0.0%
36.310292    0.0%
Name: proportion, Length: 1402, dtype: object

Age
18.000000    128
26.000000    101
21.000000     96
23.000000     89
19.000000     59
            ...
50.832559      1
19.671876      1
18.951144      1
18.863875      1
36.310292      1
Name: count, Length: 1402, dtype: int64

In [ ]:
display(tabela["MTRANS"].value_counts(normalize=True).map("{:.1%}".format))
display(tabela["MTRANS"].value_counts())

MTRANS
Public_Transportation    74.8%
Automobile               21.6%
Walking                   2.7%
Motorbike                 0.5%
Bike                      0.3%
Name: proportion, dtype: object

MTRANS
Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: count, dtype: int64

In [ ]:
display(tabela.groupby("MTRANS",).mean(numeric_only=True))
display(tabela["MTRANS"].value_counts(normalize=True))

                             Age    Height     Weight
MTRANS
Automobile             31.611074  1.715493  85.907619
Bike                   24.714286  1.748571  76.714286
Motorbike              26.090909  1.688182  73.090909
Public_Transportation  22.273331  1.696827  87.486712
Walking                21.888830  1.722558  70.596108

MTRANS
Public_Transportation    0.748460
Automobile               0.216485
Walking                  0.026528
Motorbike                0.005211
Bike                     0.003316
Name: proportion, dtype: float64

In [ ]:
display(tabela.groupby("Obesity").mean(numeric_only=True))
display(tabela["Obesity"].value_counts(normalize=True))

                           Age    Height      Weight
Obesity
Insufficient_Weight  19.783237  1.691117   49.906330
Normal_Weight        21.738676  1.676585   62.155052
Obesity_Type_I       25.884941  1.693804   92.870198
Obesity_Type_II      28.233785  1.771795  115.305311
Obesity_Type_III     23.495554  1.687559  120.941114
Overweight_Level_I   23.417674  1.687836   74.266828
Overweight_Level_II  26.996981  1.703748   82.085271

Obesity
Obesity_Type_I         0.166272
Obesity_Type_III       0.153482
Obesity_Type_II        0.140692
Overweight_Level_I     0.137376
Overweight_Level_II    0.137376
Normal_Weight          0.135955
Insufficient_Weight    0.128849
Name: proportion, dtype: float64

In [ ]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          0 non-null      object
 1   Age             0 non-null      float64
 2   Height          0 non-null      float64
 3   Weight          0 non-null      float64
 4   family_history  0 non-null      object
 5   SMOKE           0 non-null      object
 6   MTRANS          0 non-null      object
 7   Obesity         0 non-null      float64
dtypes: float64(4), object(4)
memory usage: 0.0+ bytes

None